<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="{% url 'home' %}" id="header-name"><span>Otaku</span>hub</a>

        <i class="fas fa-bars" id="menu-icon"></i> 

        <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'genre' %}">Genre</a>
            <a href="#work">Work</a>
            <a href="#contact">Contact</a>

        </nav>
        
    </header>
</body>
</html>